<footer class="page-footer font-small blue pt-4">
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:<a href="https://www.givingway.com/organization/infintree-foundation"> Infintree Foundation</a><br>
    Developed by:<a href="https://gayatrii.herokuapp.com/"> Gayatri</a>
  </div>
</footer>