<div class="Body">
    <div class="info">
        <p class="font1"><b>
            <img src="img/infintree.png" width="300" height="300">
            Founded in 2017, We are Youth Oriented Non-Governmental Organisation based in New Delhi.
            Our Mission is to aware people about the devastating effect of global warming and climate change also we 
            want to promote tree plantation across the globe through our work.we are a team of Young eco-entrepreneur.
            We support United Nation sustainable development goals, specifically Goal 15 ( life on earth ) 
            and goal 13 ( Climate change)
        </b></p>
    </div>
    <div id="me">
        <img src="img/change.png" alt="BE THE CHANGE YOU WANT TO SEE">
        <b class="font"><i> "Be an Environmental Leader!"</i></b>
    </div>
    <div class="font1">
        <img src="img/man.png" class="man">
        <h2>Role of Project Manager</h2><br>
        <p><i class="fa fa-arrow-right"></i> Project Manager will hire and manage 40 interns during the internship of 2 months</p>
        <p><i class="fa fa-arrow-right"></i> Implement project TREW effectively</p>
        <p><i class="fa fa-arrow-right"></i> Planning and execution of events, Donation Drives and Capacity Building training.</p>
        <p><i class="fa fa-arrow-right"></i> Handle Infintree Foundation Official Social Media.</p>
    </div>
    <div class="card" id="projects">
        <div class="row">
            <div class="column">
                <div id="trew" class="trew" style="display: none;">
                    <p><b>TREW is a Scottish word "ˈtrü" which means Believe and Trust.</b></p>
                    <p>So we do believe that everyone can : </p><br>
                    <img src="img/treeplant.png" class="timg"><p><b><i class="fa fa-arrow-right"></i> Plant more trees</b></p>
                    <p>Fall is for Tree Planting - And the more we plant, the better.</p>
                    <img src="img/recycle.png" class="timgg"><p><b><i class="fa fa-arrow-right"></i> Recycle Waste</b></p>
                    <p>Waste isn't waste until we Waste it.<br> Recycling turns things into other things which we call MAGIC.</p>
                    <img src="img/elect.png" class="timg"><p><b><i class="fa fa-arrow-right"></i> Save Electricity</b></p>
                    <p>Do Right, Save Light. Switch off lights when leaving the room.</p>
                    <img src="img/water.png" class="timgg"><p><b><i class="fa fa-arrow-right"></i> Save Water</b></p>
                    <p>Thousands have lived without love, not One without Water.<br> If we don’t learn to conserve, we’ll all be fish out of water.</p><br>
                    <img src="img/planet.png">
                    <p>&emsp;<b>“Never doubt that a small group of thoughtful, committed, citizens can change
                        the world. Indeed, it is the only thing that ever has.”
                        <br>― Margaret Mead</b></p><br>
                    <img src="img/img.png" height="400" width="400"><br><br>
                    <p style="font-size: 13px;">---- Click below TREW to close ----</p>
                </div>
                <a class="column cardbox zoom" onclick="trew()">
                    <p class="cardhead">TREW</p>
                    <p class="cardtext">Trees*Recycle*Electricity*Water</p>
                </a>
                
            </div>
        </div>
    </div>
</div>
<script>
    function trew(){
       var element=document.getElementById("trew");
       if(element.style.display=='block') element.style.display='none';
       else element.style.display='block';
    }
</script>